<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">first</th>
      <th scope="col">last</th>
      <th scope="col">handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>jacob</td>
      <td>fat</td>
      <td>lingard</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>brenno</td>
      <td>santos</td>
      <td>oliveira</td>
    </tr>
  </tbody>
</table>