@model LoginModel

<section class="bg-gray-900 dark:bg-gray-900 h-screen">
    <div class="flex flex-col items-center justify-center px-6 mx-auto h-screen lg:py-0">
        <a href="#" class="no-underline flex items-center mb-6 text-2xl font-semibold text-white">
            <img class="h-12 mr-1" src="~/images/semFundoMacacoBranco.png" alt="logo">
            Monkey Finances
        </a>
        <div class="w-full bg-white rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl text-center font-bold leading-tight tracking-tight  md:text-2xl text-white">
                    Entre com a sua conta
                </h1>

                @if (TempData["MensagemErro"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <button font-color="red" type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
                        @TempData["MensagemErro"]
                    </div>
                }

                <form asp-controller="Login" asp-action="Entrar" method="post" class="space-y-4 md:space-y-6 mr-4">
                    <div>
                        <label for="Email" class="block mb-2 text-sm font-medium text-white">Email</label>
                        <input type="Email" asp-for="Email" name="Email" id="Email" class="border-none border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" placeholder="nome@exemplo.com" required="">
                    </div>
                    <div>
                        <label for="Senha" class="block mb-2 text-sm font-medium text-white">Senha</label>
                        <input type="password" asp-for="Senha" name="Senha" id="Senha" placeholder="••••••••" class="border-none border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required="">
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox" class="cursor-pointer w-4 h-4 border rounded 50 focus:ring-3 bg-gray-700 border-gray-600 focus:ring-primary-600 ring-offset-gray-800" required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-300">Lembrar de mim?</label>
                            </div>
                        </div>
                        <a href="#" class="text-sm font-medium no-underline text-primary-500 hover:text-primary-700">Esqueceu senha?</a>
                    </div>
                    <button type="submit"
                            class="my-2 ml-2 cursor-pointer border-none w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Entrar
                    </button>
                    <p class="text-sm text-center font-light text-gray-400">
                        Ainda não tem uma conta? <a onclick="location.href='@Url.Action("Index", "Register")'" class="no-underline cursor-pointer font-medium text-primary-500 hover:text-primary-700">Cadastre-se</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>